apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: reciterdb
  namespace: reciter
  labels:
    app: reciterdb
    tier: backend
    owner: szd2013
  
spec:
  schedule: "30 17 * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: reciterdb
            image: CONTAINER_IMAGE
            env:
            - name: DB_USERNAME
              valueFrom: 
                secretKeyRef:
                  name: reciterdb-secrets
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom: 
                secretKeyRef:
                  name: reciterdb-secrets
                  key: DB_PASSWORD
            - name: AWS_ACCESS_KEY_ID
              valueFrom: 
                secretKeyRef:
                  name: reciterdb-secrets
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom: 
                secretKeyRef:
                  name: reciterdb-secrets
                  key: AWS_SECRET_ACCESS_KEY
            - name: AWS_DEFAULT_REGION
              valueFrom:
                configMapKeyRef:
                  name: reciterdb-configmap
                  key: AWS_DEFAULT_REGION
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: reciterdb-configmap
                  key: DB_HOST
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: reciterdb-configmap
                  key: DB_NAME      
            - name: LOG_FILE
              valueFrom:
                configMapKeyRef:
                  name: reciterdb-configmap
                  key: LOG_FILE
            - name: S3_BUCKET
              valueFrom:
                configMapKeyRef:
                  name: reciterdb-configmap
                  key: S3_BUCKET
            - name: S3_KEY_PREFIX
              valueFrom:
                configMapKeyRef:
                  name: reciterdb-configmap
                  key: S3_KEY_PREFIX
            resources:
              requests:
                memory: 4G
                cpu: 1.5
              limits:
                memory: 4G
                cpu: 1.6
            readinessProbe:
              exec:
                command:
                - cat
                - /usr/src/app/retrieveDynamoDb.py
              initialDelaySeconds: 10
              periodSeconds: 5
          nodeSelector:
            lifecycle: Ec2Spot
          restartPolicy: OnFailure
